<li><%= link_to "Trips", trips_path %></li>
<li><%= link_to "Legs", legs_path %></li>
<li><%= link_to "Locations", locations_path %></li>
<% if !current_user %>
<li><%= link_to "Sign in", signin_path %></li>
<% else %>
<li><%= link_to "Admin", admin_root_path %></li>
<li><%= link_to "Sign out", signout_path %></li>
<% end %>
